{{ attach_library('toland/footer') }}

{# Partial from page.html.twig #}
<div class="footer__container">
  <div class="footer__wrap">
    <div class="footer__inner">

      <div class="footer__first">
        <figure class="footer__logo">
          <a class="footer__logo-link" href="/" title="{{ 'Home'|t }} {{ site_name }}">
            <picture class="footer__logo-image">
              <img class="footer-logo__img" src="/{{ directory ~ '/dist/images/footer-logo.png' }}"
                   alt="{{ 'UCSF Footer Logo'|t }}" width="160" height="79">
            </picture>
          </a>
        </figure>

        <div class="footer__copyright">
          <p>
            &copy; {{ "now"|date('Y') }} {{ 'The Regents of the University of California'|t }}
          </p>
        </div>

      </div>

      <div class="footer__second">
        {{ page.footer }}
      </div>
    </div>
  </div>
</div>
